In [42]:
# Imports
import json
from pandas.io.json import json_normalize
import pandas as pd

# Read .json file to dataframe
data = pd.read_json('C:\Users\Marie\Desktop\Employment-Defense-Force-master\Data Scraping\linkedin_results_1000.json', orient='column')

# Normalize/ flatten dataframe
data = json_normalize(data['results'])

# Create desired dataframe 
data = pd.concat([data['decoratedJobPosting.companyName'], data['decoratedJobPosting.cityState'],data['decoratedJobPosting.jobPosting.title']], axis=1,)

# Rename dataframe columns
data.rename(columns={'decoratedJobPosting.companyName' : 'Name', 'decoratedJobPosting.cityState' : 'Location', 'decoratedJobPosting.jobPosting.title' : 'Job Title'}, inplace=True)

# Import dataframe to .csv
data.to_csv('linkedin.csv', encoding='utf-8')

# Print dataframe
data.head()

,Name,Location,Job Title
0,Atavas,"Burleson, Texas",Senior Software Developer/IT Software Engineer
1,"Magic Leap, Inc.","Austin, Texas",Sr. Software Engineer (Developer Tools) - TX
2,Exigo Office,"Garland, Texas",Full Stack .Net Developer
3,HonHai / Foxconn,"Houston, Texas","IT Systems Analyst, Software Engineer, Web Dev..."
4,Poetic Systems,"Houston, Texas",App Developer (junior to mid-level)